p, blockquote {
    color: navy;
}

h1, h2{
    color: white;
    background-color: #0000ff;
}
ul {
	list-style-type:none;
}

a {
	font-weight: bold;
}

a:link, a:visited {
   color: navy;
   text-decoration:none;
}

a:hover {
   text-decoration:underline;
   color: white;
   background-color: navy;
}

a:active {
   color: orange;
   background-color: navy;
}

img.feature {
  float:right;
  margin-left: 1%;
}
#content {
	display: flex;
}

nav {
  background-color: dodgerblue;
  flex: 1;
}

main {
  flex:5;
}

nav ul li  {
  padding: 10px 20px;
}

nav ul li a:link, nav ul li a:visited {
  color: white;
  text-decoration: none;
}
  
nav ul li a:hover  {
  text-decoration: underline;
}

nav ul li a:active {
    color: navy;
    text-decoration: none;
}

main {
  flex:5;
  padding-left:1em;
}
