p, blockquote {
    color: navy;
}

h1, h2{
    color: white;
    background-color: #0000ff;
}
h1{
  background: navy url(../images/backgrounds/header-bg.jpg) repeat-y right bottom;

}
ul {
	list-style-type:none;
}

a {
	font-weight: bold;
}

a:link, a:visited {
   color: navy;
   text-decoration:none;
}

a:hover {
   text-decoration:underline;
   color: white;
   background-color: navy;
}

a:active {
   color: orange;
   background-color: navy;
}

img.feature {
  float:right;
  margin-left: 1%;
}
#content {
	display: flex;
}

nav {
	flex: 1;
	height: 484px;
    background:  url(../images/backgrounds/nav-bg.jpg) no-repeat;
}

#tagline{
  background: #bed8f3 url(../images/backgrounds/tagline-fade.jpg) repeat-y right;

}
main {
  flex:5;
}

nav ul li  {
  padding: 10px 20px;
}

nav ul li a:link, nav ul li a:visited {
  color: white;
  text-decoration: none;
}
  
nav ul li a:hover  {
  text-decoration: underline;
}

nav ul li a:active {
    color: navy;
    text-decoration: none;
}

main {
  flex:5;
  padding-left:1em;
}

table#events th, table#events td {
  padding: .3em;
  border:solid black 1px;
}

table#events {
  border-collapse: collapse;
  border:solid black 1px;
  width:95%;
}

table#events th {
  font-size: medium;
  text-align: left;
  background: #241374;
  color: #ffffff;
  border-color:#000066;
  padding: 0 .5em;
}

table#events td {
  font-size: small;
}

table.events caption {
  color: #000066;
  font-size: small;
  font-weight: bold;
  text-align: left;
  padding-bottom: .5em;
}

table#events tr:nth-of-type(even){
  background-color: #ADD8E6;
}
table#events tr:nth-of-type(odd) {
  background-color:#B0C4DE;
}

table#events tr:hover {
  background: #c5e3ed;
}

figure {
  border-bottom: 1px solid navy;
  margin-bottom: 2%;
}

figcaption {
  color:navy;
  font-size: 75%;
  font-weight: bold;
  margin-top: 0;
  width: 90%;
  line-height: 1.4em;
}

figcaption span {
  font-weight: normal;
  color: gray;
}
.form-row {
   	display: flex;
}

label {
   flex: 0 1 20%;
   font-weight: bold;
   font-size: small;
   color:blue;
}

form input,
  form  select {
    flex: 1; 
    padding: .5em;
    margin-bottom: 1em;
}

form button {
    padding: 1em; 
    background: blue;
    color: white;
    border: 0;
	border-radius:5%;
}
  
form fieldset {
   	border: 0; 
}
  
.check > label {
    display: block;
}

form {
	margin-bottom:1em;
}
