html, body {
 margin:0;
 padding:0;
 width:100%;
 height:100%;
}

body{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#content{
    width: 20%;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
}

h1, h2{
 font-family: Georgia, "Times New Roman", Times, serif;
 color: #666;
}

h1{
 font-size: 1.5em;
}

h2{
 font-size: 1.25em;
}



