 .nav {
  background-color: rgb(3, 41, 135);
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 40%;
  margin: 0 auto;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: rgb(0, 0, 80);
} 
.ui.tabular.menu .item
 {
    color: white;
}
.ui.tabular.menu .item:hover
 {
    background-color: white
 }

h1, h2,h3, p,a{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color: white
}

p,a {
  color: black;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:5px solid  rgb(3, 41, 135); 
  padding:12px; 
  margin-top:auto; 
  margin-left: auto; 
  margin-right: auto;
  border-radius:6px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 100%;
  border-color:  rgb(3, 41, 135) ;
  border-radius: 5px;
  border-bottom: 8px solid rgb(3, 41, 135);
  border-top: 8px solid rgb(3, 41, 135);
  border-left: 8px solid rgb(3, 41, 135);
  border-right: 8px solid rgb(3, 41, 135);
}
div.card {
  background-color: white;
  width: 60%;
  margin: 20px auto;
  height: 100%;
  padding: 20px;
  border: 2px solid rgb(3, 41, 135);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
  background-image: url(../images/Halo/wp5637964-1237865569.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#content {
  background-color: white;
  width: 80%;
  margin: 0 auto; 
  position: relative; 
  padding: 20px;
   display: block;
  text-align: center;
}



