.nav {
      background-color: lightblue;
      padding: 15px;
      text-align: center;
      font: bold;
      font-size: large;
    }

    .nav a {
      color: black;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .nav a:hover {
      background-color: white;
    }
    h1{
      text-align: center;
      font: bold;
      font-size: x-large;
      font-family: 'Courier New', Courier, monospace;
      color: lightblue;
    }

h2,p{
  text-align: center;
      font: bold;
      font-size: x-large;
      font-family: 'Courier New', Courier, monospace;
      color: black;
      background-color: white;
}
section{
  display: flexbox;  
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
